@mixin colors {
  --color-shark: #181a20;
  --color-charade: #262a33;
  --color-bright-gray: #3c4250;
  --color-cadet-blue: #a8a9c2;
  --color-shuttle-gray: #5e6271;
  --color-white: #fff;
  --color-geraldine: #f97c76;
}
