@use '@/styles/tokens' as *;

body,
#app {
  background: $color-shark;
}

#app {
  @include typography-body-styles;
  color: $color-cadet-blue;
}

h1,
h2,
h3,
h4 {
  @include typography-heading-styles;
  color: $color-white;
}

svg {
  max-width: 100%;
}
