ul,
ol,
li,
p,
pre,
figure,
blockquote,
figcaption,
hr {
  margin: 0;
  padding: 0;
}

img,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

svg {
  max-width: 100%;
}

[tabindex='-1'] {
  outline: none !important;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

#app {
  min-height: 100%;
  font-family: $font-body;
  line-height: $font-body-height;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-shark);
  color: var(--concept-text-secondary);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: $font-heading;
  font-weight: 700;
  line-height: $font-heading-height;
  letter-spacing: -0.64px;
  color: var(--concept-text-primary);
}

/*******************
 Remove animations and transitions
 @see https://hankchizljaw.com/wrote/a-modern-css-reset/
 *******************/
 @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
