
body,
#app {
  background: var(--color-shark);
}

#app {
  color: var(--concept-text-secondary);
}

svg {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
  line-height: $font-heading-height;
  font-weight: 800;
  letter-spacing: -0.64px;
  color: var(--concept-text-primary);
}

