$color-shark: var(--color-shark);
$color-charade: var(--color-charade);
$color-bright-gray: var(--color-bright-gray);
$color-cadet-blue: var(--color-cadet-blue);
$color-shuttle-gray: var(--color-shuttle-gray);
$color-white: var(--color-white);
$color-geraldine: var(--color-geraldine);
